.header{
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.button{
    float:right;
    position:relative;
    margin-top:-60px;
    color:white;
    margin-right:-260px;
    color:white;
    font-weight: bold;
}
.logo{
    position: relative;
    margin-top:-10px;
}
.grid-container {
      display: inline-grid;
      grid-template-columns: auto auto auto;
  }

.grid-item {
  height: auto;
  margin: 35px;
  }

.cart{
   position: relative;
   float: right;
   top:-20px;
   margin-right: 280px;
   margin-top:-45px;
   background-color: none;
   width: 100px;;
}

.img_cart{
  width:50px;
  height:35px;
  color: white;
}
.title{
    text-align: center;
    color: #FF6600;
    font-family:Bookman, Tahoma, Verdana;
}
.btn:hover{
    background-color:#ffd71b;
    color:white;
}

.btn-pay{
    width: 500px;
    height:40px;
    margin-left: 530px;
    margin-bottom: 50px;
    font-size: 18px;
    font-size: bold;
}
.btn-pay:hover{
    background-color: #FF6633;
}

.checked, .price span{
    color: #ff9f1a;
    }
body {
    font-family: 'open sans';
    overflow-x: hidden;
    }

img {
    max-width: 100%;
}

.footer{
    left: 0;
    bottom: 0;
    width:100%;
}
.card-title{
    font-weight: bold;
    text-align: center;
    line-height: 1.78em;
}
.stars{
    text-align: center;
}
.register{
    position: relative;
    float:right;
    margin-top:-60px;
    font-weight: bold;
    color:white;
    right:-200px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    margin-left:470px;
    margin-bottom: 20px;
}

.next {
    background-color: orange;
    color: white;
}
.asc{
    position: relative;
    float:right;
    border: none;
    margin-right:35px;
    background-color: orange;
    color:white;

}
.des{
    position: relative;
    float:right;
    border: none;
    color:white;
    background-color:#E55B3C	;
}
.btn:hover{
    background: none;
    color:orange;
    border-color: orangered;
}
.nav-link:hover{
    background: none;
    color:orange;
}
.navbar-brand:hover{
    background: none;
    color:orange;
}
.sale {
    float: right;
    background: #ED1C24;
    color: #fff;
    padding: 12px 8px;
    border-radius: 100%;
    width:49px;
    height:43px;
    position: relative;
    margin-top:-25px;
}
.clearfix {
    width: 95%;
    margin: 3%;
 transition: all 0.5s ease;
}
.clearfix:hover {
    transform: scale(1.1, 1.1);
}
.button_product{
    margin-left:60px;
}
.detail{
    position: relative;
    margin-left:80px;
    margin-top:-55px;
    width:70px;
    font-weight: bold;
    background-color: #CD0000;
    color:white;
}
.detail:hover{
    background-color:#FFA500;
    color:white;
}
.buy{
    width:70px;
    font-weight: bold;
    background-color: #CD0000;
    color:white;
}
.buy:hover{
    background-color:#FFA500;
    color:white;
}


